main {
    text-align: justify;
}


/*why Us*/

#whyUs {
    width: 100%;
    height: auto;
    position: relative;
    top: -30px;
}

#whyUs .well {
    border-radius: 30px;
    border: 5px solid #fff;
    background-color: #f2f2f2;
    color: #040404;
    padding: 10px;
}

#whyUs > div > div {
    display: inline-block;
    float: right;
}

#whyUs > div > div > div:nth-child(2) {
    width: 300px;
    float: left;
    margin: 0 10px;
    text-align: center;
    border-right: 1px solid black;
}

#whyUs h4 {
    text-align: center;
}


/*our projects*/

#ourProjects {
    padding: 0px 0 40px 0;
}

#ourProjects h1 {
    margin-top: 0px;
}

div.panel img {
    max-height: 250px;
}

.panel-default {
    border-color: transparent;
    box-shadow: 0 0 0;
}

.panel-footer {
    padding: 0px 10px;
    text-align: center;
    background-color: transparent;
    border-top: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


/*steps*/

section#section-steps {
    background-image: url('../../images/bg-2.jpg');
    background-attachment: fixed;
    padding: 80px 0;
    /*opacity: 0.5;*/
}

#section-steps > div > div > div.col-md-12.text-center > h1 {
    color: #fff;
}

.separator {
    line-height: 0.5;
    text-align: center;
    margin: 30px 0 30px 0;
}

.separator span {
    display: inline-block;
    position: relative;
}

.separator span::before,
.separator span::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #000;
    top: 5px;
    width: 300px;
}

.separator span::before {
    right: 100%;
    margin-right: 15px;
}

.separator span::after {
    left: 100%;
    margin-left: 15px;
}

#section-steps .separator span::before,
#section-steps .separator span::after {
    border-bottom-color: #fff;
}

#section-steps > div > div > div.col-md-12.text-center > div.separator > span > i {
    color: #fff;
}

.de_tab .de_nav {
    overflow: hidden;
    padding-left: 0px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.de_tab.tab_steps .de_nav {
    text-align: center;
}

.de_tab.tab_steps .de_nav li span:hover {
    color: #FAB702;
    background: #000;
    border-top: 3px solid #000;
}

.de_tab .de_tab_content {
    border: 1px solid #ddd;
    padding: 15px 20px 20px 20px;
    margin-top: -1px;
    background: #fff;
    color: #fff;
}

.de_tab .de_tab_content {
    border: 1px solid #404040;
    background: #27282b;
}

.de_tab.tab_steps .de_tab_content {
    background: 0;
    padding: 0;
    border: none;
    padding-top: 30px;
    border-top: solid 1px rgba(255, 255, 255, .4);
}

.wow {
    visibility: hidden;
}

.de_tab .de_nav li {
    float: left;
    list-style: none;
    background: #EEE;
    margin-right: 5px;
}

.de_tab.tab_steps .de_nav li {
    background: none;
    display: inline-block;
    float: none;
    margin: 0 30px 0px 30px;
}

.de_tab .de_nav li span {
    padding: 8px 16px 8px 16px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    display: block;
    background: #f5f5f5;
    text-decoration: none;
    color: #646464;
    font-size: 13px;
    cursor: pointer;
}

.de_tab .de_nav li span {
    border: none;
    background: #222;
}

.de_tab .de_nav li span {
    border-top: 3px solid #FAB702;
}

.de_tab.tab_steps .de_nav li span {
    padding: 30px 0 30px 0;
    border-radius: 120px;
    color: #222;
    font-size: 16px;
    -moz-border-radius: 120px;
    -webkit-border-radius: 120px;
    line-height: 120px;
    width: 185px;
    height: 185px;
    text-align: center;
    text-transform: uppercase;
}

.de_tab .de_nav li.active span {
    background: #27282b;
    border-bottom: 1px solid #27282b;
    color: #ccc;
}

.de_tab .de_nav li span,
.de_tab.tab_steps .de_nav li span,
.de_tab.tab_steps .de_nav li span:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    outline: none;
    border: 2px solid transparent;
}

.de_tab.tab_steps .de_nav li span {
    background-color: #fab702;
}

.de_tab.tab_steps .de_nav li .v-border {
    height: 60px;
    border-left: solid 1px rgba(255, 255, 255, .3);
    display: inline-block;
    margin-bottom: -5px;
    opacity: 0;
}


/*.de_tab .de_nav li:first-child span {
  border-left: 1px solid #ddd;
}
.de_tab .de_nav li:first-child span {
  border-left: 1px solid #000;
}*/


/*.de_tab .de_nav li.active span {
  background: #FFF;
  border-bottom: 1px solid #fff;
  color: #222;
  margin-bottom: -3px;
}*/


/*what we say*/

#wordsWeSay {
    background-color: #f2f2f2;
    padding: 60px 0px;
}

#wordsWeSay .trust {
    padding-bottom: 17px;
}

#wordsWeSay h4 {
    line-height: 23px;
}

.de_tab.tab_steps .de_nav li.active span {
    background: none;
    color: #ffffff;
    border: solid 2px rgba(255, 255, 255, .8);
}


/*Customer says*/

#section-testimonial {
    padding: 20px 0 40px 0;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.wow {
    visibility: hidden;
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}

.owl-pagination {
    margin-top: 0px;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline: ;
}

.owl-theme .owl-controls .owl-page span {
    margin-top: 30px;
    width: 5px;
    height: 5px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.owl-theme .owl-controls .owl-page span {
    width: 5px !important;
    height: 5px !important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
    float: left;
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-wrapper::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0px;
}

.de_carousel .item {
    width: 100%;
    display: block;
}

.de_testi {
    display: block;
    margin-bottom: 10px;
}

.de_testi_by {
    color: #fab702;
}

blockquote {
    font-size: 24px;
    font-style: italic;
    line-height: 1.5em;
    font-weight: 300;
}

.de_testi blockquote {
    margin: 0;
    border: none;
    padding: 20px 30px 30px 80px;
    background: rgba(0, 0, 0, 0.5);
    font-style: normal;
    line-height: 1.6em;
    font-weight: 500;
}

.de_testi blockquote {
    color: #eceff3;
}

.de_testi blockquote p {
    margin-top: 10px;
}

.de_testi blockquote,
.de_testi blockquote p {
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 500;
}

.de_testi blockquote::before {
    font-family: FontAwesome;
    content: "\f10d";
    background-color: #f9b603;
    color: #111;
    padding-bottom: 10px;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    font-style: normal;
    position: absolute;
    left: 15px;
}


/*our partners*/

#ourPartners {
    padding: 20px 0 40px 0;
    background-image: url('../../images/partners.jpg');
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
}


/*media query for steps vborder*/

@media(min-width:767px) and (max-width:810px) {
    .nav.navbar-nav a {
        padding: 15px 0px 15px 16px;
    }
    .nav.navbar-nav li a:after {
        margin-left: 16px;
    }
}


/*media query for steps vborder*/

@media(min-width:1080px) and (max-width:1800px) {
    #section-steps > div > div > div:nth-child(2) > div > ul > li.active.wow.fadeIn.animated > div {
        opacity: 1;
    }
}