@CHARSET "UTF-8";
/*preloader*/
/*#jpreButton,#jprePercentage,#jpreSlide{font-weight:700;text-align:center}body{display:none}#jpreOverlay{background-color:#000}#jpreSlide{font-size:22px;color:#ccc;width:50%;height:30%}#jpreLoader{width:300px;height:25px;box-shadow:0 0 7px 3px #fff;-moz-box-shadow:0 0 7px 3px #fff;-webkit-box-shadow:0 0 7px 3px #fff;border-radius:25px;-moz-border-radius:25px;-webkit-border-radius:25px}#jpreBar{border-radius:25px;-moz-border-radius:25px;-webkit-border-radius:25px;background-size:30px 30px;-moz-background-size:30px 30px;-webkit-background-size:30px 30px;-o-background-size:30px 30px;box-shadow:0 5px 5px rgba(255,255,255,.6) inset,0 -5px 7px rgba(0,0,0,.4) inset;-moz-box-shadow:0 5px 5px rgba(255,255,255,.6) inset,0 -5px 7px rgba(0,0,0,.4) inset;-webkit-box-shadow:0 5px 5px rgba(255,255,255,.6) inset,0 -5px 7px rgba(0,0,0,.4) inset;filter:progid: DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33000000', GradientType=0);background-color:#E07300;background-image:-moz-linear-gradient(-45deg,rgba(255,255,255,.15) 0,rgba(255,255,255,.15) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);background-image:-webkit-gradient(linear,left top,right bottom,color-stop(0,rgba(255,255,255,.2)),color-stop(25%,rgba(255,255,255,.2)),color-stop(25%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.2)),color-stop(75%,rgba(255,255,255,.2)),color-stop(75%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,0)));background-image:-webkit-linear-gradient(-45deg,rgba(255,255,255,.3) 0,rgba(255,255,255,.3) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,.3) 50%,rgba(255,255,255,.3) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);background-image:-o-linear-gradient(-45deg,rgba(255,255,255,.15) 0,rgba(255,255,255,.15) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(-45deg,rgba(255,255,255,.15) 0,rgba(255,255,255,.15) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);background-image:linear-gradient(135deg,rgba(255,255,255,.15) 0,rgba(255,255,255,.15) 25%,rgba(255,255,255,0) 25%,rgba(255,255,255,0) 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);animation:progress 2s linear infinite;-moz-animation:progress 2s linear infinite;-webkit-animation:progress 2s linear infinite;-ms-animation:progress 2s linear infinite;-o-animation:progress 2s linear infinite}#jprePercentage{color:#ccc;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;text-shadow:1px 1px 1px #333;top:-100%}#jpreButton{padding:3px 10px;cursor:pointer;line-height:1.5;width:100px;margin:0 auto;color:#fff;text-shadow:-1px -1px 0 #01293F;border:1px solid #2EACEA;border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;background-color:#23a6ed;background-image:-moz-linear-gradient(top,#23a6ed 0,#1275aa 100%);background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#23a6ed),color-stop(100%,#1275aa));background-image:-webkit-linear-gradient(top,#23a6ed 0,#1275aa 100%);background-image:-o-linear-gradient(top,#23a6ed 0,#1275aa 100%);background-image:-ms-linear-gradient(top,#23a6ed 0,#1275aa 100%);background-image:linear-gradient(to bottom,#23a6ed 0,#1275aa 100%);filter:progid: DXImageTransform.Microsoft.gradient( startColorstr='#23a6ed', endColorstr='#1275aa', GradientType=0)}@-webkit-keyframes progress{from{background-position:0 0}to{background-position:-60px -60px}}@-moz-keyframes progress{from{background-position:0 0}to{background-position:-60px -60px}}@-ms-keyframes progress{from{background-position:0 0}to{background-position:-60px -60px}}@-o-keyframes progress{from{background-position:0 0}to{background-position:-60px -60px}}@keyframes progress{from{background-position:0 0}to{background-position:-60px -60px}}
*/
/*font generation*/
/* This stylesheet generated by Transfonter (http://transfonter.org) on April 9, 2016 5:26 PM */

@font-face {
    font-family: Quadranta;
    src: url('fonts/Quadranta.eot');
    src: url('fonts/Quadranta.eot?#iefix') format('embedded-opentype'),
        url('fonts/Quadranta.woff') format('woff'),
        url('fonts/Quadranta.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*header*/
header .navbar {
    width: 100%;
    height: 60px;
}

ul.nav.nav-pills {
    float: right;
}

.navbar-header {
    clear: both;
}

.navbar-default {
    background-color: rgba(255,255,255,0.99);;
    box-shadow: 0 0px 10px 1px rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.navbar-default .navbar-nav>li>a {
    color:#000;
}
.nav.navbar-nav a {
    display: inline-block;
    text-decoration: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FAB702;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FAB702;
}

.nav.navbar-nav li {
    margin: 10px 0px;
    padding: 0px 0px;
    float: left;
    display: inline;
    list-style: none;
    position: relative;
}

.nav.navbar-nav li a:after, .preHeader > ul > li:nth-child(1):after{
    float: right;
    position: relative;
    font-family: "FontAwesome";
    content: "\f111";
    font-size: 6px;
    margin-left: 20px;
    margin-top: 0px;
    color: #FAB702;
}
.preHeader > ul > li:nth-child(1):after{
    margin-top:7px;
}
.nav.navbar-nav li:last-child{
    padding-right: 20px;
}

.nav.navbar-nav li:last-child a:after{
    content: '';
}

.nav.navbar-nav li ul {
    width: 201px;
    height: auto;
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 10;
    display: none;
}
.navbar-brand{
    margin: 0 !important;
    padding: 9px 0 !important;
}
body > header > nav > div > ul > li{
    float:none !important;
    margin:5px;
}
/*footer*/

address span a {
    color: #eceff3;
}

footer .widget h3 {
    margin-bottom: 20px;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget_recent_post li {
    padding-left: 20px;
    background: url(../images/list-arrow.html) left 2px no-repeat;
    border-bottom: solid 1px #222;
    padding-bottom: 7px;
    margin-bottom: 5px;
}

footer .widget_recent_post li {
    padding: 0 0 5px 0;
    margin: 0;
    background: none;
    border-bottom-color: #222;
}

.widget_recent_post li a {
    color: #555;
    text-decoration: underline;
}

footer .widget_recent_post li a {
    color: #ccc;
}

.logo-small {
    margin: 20px;
}

footer h3,
.de_light footer h3 {
    color: #fff;
    font-size: 20px;
}

.widget {
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-bottom: solid 1px #333;
}

footer .widget {
    border: none !important;
    margin-bottom: 0px;
}

address {
    margin: 0;
    margin-top: 20px;
}

address span {
    display: block;
    border-bottom: solid 1px #222;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 300;
}

address span {
    border-bottom-color: #222;
}

address span strong {
    display: inline-block;
    width: 60px;
}

address span strong {
    display: inline-block;
    color: #FAB702;
}

.subfooter {
    background: #0b0b0b;
    padding: 30px 0 20px 0;
}

.social-icons {
    display: inline-block;
}

a,
a:hover,
.test-column,
.test-column:hover {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
}

footer a,
footer {
    color: #ccc;
}

.social-icons a {
    margin-left: 10px;
}
