<main id="apartment">
	<div class="positionRelative">APARTMENTS / {{name}}<div class="col-md-4 col-sm-4 col-md-12 pull-right mt10">
<!-- <input type="search" class="form-control" placeholder="Search Apartments.." ng-model="query"></div></div> -->
</div>
</div>
<div class="container-fluid">
<div class="col-md-12 col-sm-12 col-xs-12 well"><ul>
		<li class="col-md-2 col-sm-2 col-xs-2 active"><a nohref>Living</a></li>
		<li class="col-md-2 col-sm-2 col-xs-2"><a nohref>Dining</a></li>
		<li class="col-md-2 col-sm-2 col-xs-2"><a nohref>Kitchen</a></li>
		<li class="col-md-2 col-sm-2 col-xs-2"><a nohref>Master BedRoom</a></li>
		<li class="col-md-2 col-sm-2 col-xs-2"><a nohref>Guest BedRoom</a></li>
		<li class="col-md-2 col-sm-2 col-xs-2"><a nohref>Kids BedRoom</a></li>
	</ul></div>
	<div class="row">
	
		<div class="col-md-8 col-sm-6 col-xs-12">
			<div class="apartmentImage"><img src="resources/core/images/apartments/apartments.jpg" alt=""></div>
			<br><div class="row">
				<div class="col-md-2" ng-repeat="package in [0,1,2,3,4,5] | filter:query">
                    <img src="resources/core/images/apartments/apartments.jpg" class="wow fadeInUp  animated">
			</div>
		</div>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-12">
		<h3>Apartment Name <span class="pull-right">(2BHK)</span></h3><hr>
			<div class="row">
				<div class="col sm-12">
				 <uib-tabset active="active">
    <uib-tab index="0" heading="Description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum adipisci incidunt obcaecati, quod at aut. Suscipit mollitia tenetur saepe, quia fuga, dolore itaque quasi vero iure quae magnam necessitatibus laboriosam.</uib-tab>
    <uib-tab index="1" heading="Specifications">
    	<table class="table table-stripped table-bordered table-hover tavle-inverse table-responsive">
    		<tr>
    			<th>Sl.No</th>
    			<th>Name</th>
    			<th>Base Price</th>
    			</tr>
    			<tr ng-repeat="p in [0,1,2,3,4]">
    				<td>1</td>
    				<td>ABC</td>
    				<td>10000</td>
    			</tr>
    			<tr>
    				<td colspan="2">Total</td>
    				<td>50000</td>
    			</tr>
    		</tr>
    	</table>
    </uib-tab>
    </uib-tabset>
			</div>
		</div>
		</div>
	</div><br>
</div>
</main>