<div id="apartments" class="container-fluid" ui-view>
<div class="positionRelative">APARTMENTS<div class="col-md-4 col-sm-4 col-md-12 pull-right mt10"><input type="search" class="form-control" placeholder="Search Apartments.." ng-model="query"></div></div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="apartment in apartments | filter:query">
            <div>
                <a ui-sref="apartments.floorplans({ apartmentName : '{{apartment.apartmentName | addunderscore}}' })">
                    <img bn-lazy-src="{{apartment.image}}" class="wow fadeInUp  animated imgContainer">
                </a>
            </div>
            <div>
                <h4>{{apartment.apartmentName | addunderscore}}, <span>Bangalore</span></h4>
            </div>
        </div>
    </div>
    </div>
</div>
<i class="clearfix"></i>