<link rel="stylesheet" href="resources/core/css/application/contact.css">
<div style="background: #f2f2f2;">
	<div>
		<div>
			<div my-map=""></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			<div style="width: 98%; max-width: 500px; margin: 0 auto;">
				<form class="form-horizontal" id="contactForm" action="#"
					method="post" novalidate="novalidate">
					<legend>Enquiry Form</legend>
					<div class="form-group">
						<!-- <label class="col-sm-2 control-label" for="Name">Name</label> -->
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-user fa-fw"></i></span> <input name="Name"
									class="form-control" id="Name" type="text"
									placeholder="* Enter Name" data-bv-field="Name">
							</div>
							<small class="help-block" style="display: none;"
								data-bv-validator="notEmpty" data-bv-for="Name"
								data-bv-result="NOT_VALIDATED">Your name is required</small>
						</div>
					</div>

					<div class="form-group">
						<!-- <label class="col-sm-2 control-label" for="Email">Email</label> -->
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-envelope fa-fw"></i></span> <input name="Email"
									class="form-control" id="Email" type="email"
									placeholder="* Enter Email" data-bv-field="Email">
							</div>
							<small class="help-block" style="display: none;"
								data-bv-validator="notEmpty" data-bv-for="Email"
								data-bv-result="NOT_VALIDATED">Your email is required</small><small
								class="help-block" style="display: none;"
								data-bv-validator="emailAddress" data-bv-for="Email"
								data-bv-result="NOT_VALIDATED">Your email is not valid</small>
						</div>
					</div>

					<div class="form-group">
						<!-- <label class="col-sm-2 control-label" for="Phone">Phone</label> -->
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-phone fa-fw"></i></span> <input name="Phone"
									class="form-control" id="Phone" type="text"
									placeholder="Enter Phone Number">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-upload fa-fw"></i></span>
									<!-- <input type="file" id="upload" class="form-control" placeholder="Upload your custom designs" multiple/> -->
									<input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled" />
								<span class="input-group-addon fileUpload"><i
									class="fa fa-folder-open fa-fw"></i>
    <label>Browse</label>
    <input id="uploadBtn" type="file" class="upload" multiple/></span>
							</div>
						</div>
					</div>


					<!-- custom file upload http://codepen.io/wallaceerick/pen/fEdrz -->
					<div class="form-group">
						<!-- <label class="col-sm-2 control-label" for="Message">Message</label> -->
						<div class="col-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="fa fa-comment fa-fw"></i></span>
								<textarea name="Message" class="form-control" id="Message"
									rows="5" data-bv-field="Message" placeholder="Message.."></textarea>
							</div>
							<small class="help-block" style="display: none;"
								data-bv-validator="notEmpty" data-bv-for="Message"
								data-bv-result="NOT_VALIDATED">Your message is required</small>
						</div>
					</div>

					Re-captcha
					<div class="form-group">
						<div class="col-sm-2"></div>
						<div align="center" class="col-sm-10">
							<button class="btn btn-primary btn-lg" type="submit">SUBMIT</button>
						</div>
					</div>

				</form>
			</div>
		</div>
		<div class="col-md-3"><h3>Decorpot</h3><hr><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore laborum quibusdam rem ducimus sapiente necessitatibus quo quasi qui sed. Excepturi doloribus eligendi totam. In qui, quod, perspiciatis aperiam sed dolorem deleniti iste labore temporibus ipsa laborum excepturi odio, quas ratione!</h4></div>
	</div>

</div>