<div class="container top-margin">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Customer Details</div>
				<div class="panel-body">
					<form>
						<div class="form-group col-md-3">
							<label> <span>Customer Name</span>
							</label><input type="text" placeholder="" id="custName"
								ng-model="customer.custName" class="form-control">
						</div>
						<div class="form-group col-md-3">
							<label> <span>phone</span>
							</label><input type="text" placeholder="" id="phone"
								ng-model="customer.phone" class="form-control">
						</div>
						<div class="form-group col-md-3">
							<label> <span>Email Id</span>
							</label><input type="text" placeholder="" id="userName"
								ng-model="customer.userName" class="form-control">
						</div>
						<div class="form-group col-md-3">
							<label> <span>Apartmnet Type</span>
							</label><input type="text" placeholder="" id="bhk"
								ng-model="customer.bhk" class="form-control">
						</div>
						<div class="form-group col-md-3">
							<label> <span>Budget Type</span>
							</label><input type="text" placeholder="" id="budgetType"
								ng-model="customer.budgetType" class="form-control">
						</div>
						<div class="row">
							<button type="button" class="btn btn-default col-md-3"
								data-dismiss="modal" ng-click="editCustomer()">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">Tasks</div>
				<div class="panel-body">
					<ul>
						<li ng-repeat="t in tasks">
							<div><span>Task Name</span><span>{{t.taskName}}</span></div>
							<div><span>Created Date</span><span>{{t.startDate}}</span></div>
							<div><span>Estimated Date</span><span>{{t.estimatedDate}}</span></div>
							<div><span>Logged Hours</span><span>{{t.hoursLogged}}</span></div>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="col-md-8"></div>
	</div>
</div>
<div class="row"></div>