<main id="floorPlan">
<div>
<div class="positionRelative">APARTMENTS / {{name}}<div class="col-md-4 col-sm-4 col-md-12 pull-right mt10">
<!-- <input type="search" class="form-control" placeholder="Search Apartments.." ng-model="query"></div></div> -->
</div></div></div>
    <div class="container">
       <div class="row getAdvice">
            <div class="col-md-3 col-md-offset-1 pull-right well" style="
    
">
                <form class="ng-pristine ng-valid">
                    <div class="text-warning">Get an free advice</div>
                    <input type="text" class="form-control" placeholder="*User Name"><br>
                    <input type="text" class="form-control" placeholder="*User Phone"><br>
                    
                    <input type="text" class="form-control" placeholder="User Mail"><br>
                    <textarea name="message" cols="30" rows="4" class="form-control"></textarea><br>
                    <input type="submit" value="SUBMIT" class="form-control btn btn-info">
                </form>
            </div>
        </div>
    </div>
</main>
<!-- <main id="floorPlan">
    <div class="container">
        <h1>APARTMENxvxTS</h1>

    </div>
    <div class="col-md-7"><img src="resources/core/images/apartments/apartments.jpg" alt="" class="img-thumbnail"></div>
    <div class="col-md-5">
        <h5>Apartment Name</h5>
        <p class="pull-right">-Delivered within 45 days</p>
        <div class="panel panel-default clear-fix">
            <div class="panel-heading">GET FREE ADVICE</div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon"><i
									class="fa fa-user fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="* Enter Name">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i
									class="fa fa-phone fa-fw"></i></span>
                    <input class="form-control" type="text" placeholder="* Enter Phone">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i
									class="fa fa-envelope fa-fw"></i></span>
                    <input class="form-control" type="mail" placeholder="Enter e-mail">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i
									class="fa fa-comment fa-fw"></i></span>
                    <input class="form-control" type="mail" placeholder="Enter message/comment">
                </div>
            </div>
            <div class="panel-footer">
                <input type="button" class="form-control btn btn-success" value="SUBMIT">
            </div>

        </div>
        <form>
            <input type="text">
        </form>
    </div>
    </div>
</main> -->