<main id="floorPlan" ui-view>
<div>
<div class="positionRelative">APARTMENTS / {{name}}<div class="col-md-4 col-sm-4 col-md-12 pull-right mt10">
<!-- <input type="search" class="form-control" placeholder="Search Apartments.." ng-model="query"></div></div> -->
</div>
</div>
</div>
    <div class="container-fluid">
       <div class="row getAdvice wow fadeInUp  animated hidden-xs">
            <div class="col-md-3 col-md-offset-1 pull-right well">
                <form class="ng-pristine ng-valid">
                    <div class="text-warning">Get a free advice</div>
                    <input type="text" class="form-control" placeholder="*User Name.."><br>
                    <input type="text" class="form-control" placeholder="*User Phone.."><br>                        
                    <input type="text" class="form-control" placeholder="User Mail.."><br>
                    <textarea name="message" cols="30" rows="4" placeholder="Message / Comments.." class="form-control"></textarea><br>
                    <input type="submit" value="SEND REQUEST" class="form-control btn btn-info">
                </form>
            </div>
        </div>
        <div class="row floorPlanImages">
            <h5><b>Address : </b>{{floorPlan.address}}</h5>
            <h5><b>Details : </b></h5>
            <hr>
            <h3>Floor Plans</h3>
            <h5>Please select your floor plan. We have created packages to suit your need according to your floor plan</h5><br><br>
            <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="f in [0,1,2,3] | filter:query">
             <a  ui-sref="apartments.floorplans.packages({ packagesName : '{{floopPlans.id}}' })">
                    <img src="resources/core/images/apartments/apartments.jpg"  class="wow fadeInUp  animated">
                </a>
            <!-- <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="f in floopPlans | filter:query"> 
            <div>
                <a ui-sref="apartments.floorplans({ planId : '{{f.planId}}-{{f.apartmnetType}}' })">
                    <img src="resources/core/images/apartments/apartments.jpg"  class="wow fadeInUp  animated">
                </a>
            </div>
            </div>-->
                <h4>3bhk Floorplan</h4>
            </div>
        </div>
    </div>
</main>
