<main id="floorPlan" ui-view>
<div>
<div class="positionRelative">APARTMENTS / {{data.apartmentName}}<div class="col-md-4 col-sm-4 col-md-12 pull-right">
<!-- <input type="search" class="form-control" placeholder="Search Apartments.." ng-model="query"></div></div> -->
</div>
</div>
</div>
    <div class="container-fluid">
      <!--  <div class="row getAdvice wow fadeInUp  animated" ng-style="{'background-image':'url('+data.image+')'}" style="min-height: 500px">
            <div class="col-md-3 col-md-offset-9 pull-right well">
                <form name="userForm">
						<legend>Enquiry Form</legend>
						<div class="form-group col-lg-12">
							<label for="name">Name</label> <input type="text"
								class="form-control" id="name" ng-model="enquiry.name"
								ng-class="{'errorBorder' : !nameError }"> <span
								class="error" ng-class="{'hide' : !nameError }">{{nameError}}</span>
						</div>
						<div class="form-group col-lg-12">
							<label for="name">Email</label> <input type="email"
								class="form-control" id="email" ng-model="enquiry.email"
								ng-class="{'errorBorder' : !emailError }"> <span
								class="error" ng-class="{'hide' : !emailError }">{{emailError}}</span>
						</div>
						<div class="form-group col-lg-12">
							<label for="name">Phone</label> <input type="phone"
								class="form-control" id="phone" ng-model="enquiry.phone"
								ng-class="{'errorBorder' : !phoneError }"> <span
								class="error" ng-class="{'hide' : !phoneError }">{{phoneError}}</span>
						</div>
						<div class="form-group col-lg-12">
							<label for="name">Message</label>
							<textarea class="form-control" id="message"
								ng-model="enquiry.message"></textarea>
							<span class="error" ng-class="{'hide' : !messageError }">{{messageError}}</span>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-danger"
								ng-click="submitEnquiry()">Submit</button>
						</div>
					</form>
            </div>
            <div class="col-md-12 col sm-12 col-xs-12 address">
                <h5><b><span class="fa fa-map-marker"></span>&nbsp;Address : </b>{{data.address}}</h5>
            </div>
        </div> -->
        <div class="row floorPlanImages">
            <h3>Floor Plans</h3>
            <h5>Please select your floor plan. We have created packages to suit your need according to your floor plan</h5><br><br>
                <div>
                <div  class="flowGridItem col-md-4 col-sm-6 col-xs-12" ng-repeat="c in data.apartmentBaseConfigs | filter:query">
             <a  ui-sref="apartments.floorplans.packages({ floorplanId : '{{c.planId}}',  apartmentType: '{{c.apartmentType}}'})">
                    <img src={{c.floorPlan}}  class="wow fadeInUp  animated floorPlanImg"  data-actual-width = "{{pic.actualWidth}}"  data-actual-height="{{pic.actualHeight}}">
                </a>
                <h4>{{c.planName}}</h4>
            </div></div>
        </div>
    </div>
</main>
