<link rel="stylesheet" href="resources/core/css/application/home.css">
<main>
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="resources/core/images/carousel1.jpg" data-color="lightblue" alt="First Image">
                <div class="carousel-caption">
                    <h3>First Image</h3>
                </div>
            </div>
            <div class="item">
                <img src="resources/core/images/carousel2.jpg" data-color="firebrick" alt="Second Image">
                <div class="carousel-caption">
                    <h3>Second Image</h3>
                </div>
            </div>
            <div class="item">
                <img src="resources/core/images/carousel3.jpg" data-color="lightblue" alt="First Image">
                <div class="carousel-caption">
                    <h3>THird Image</h3>
                </div>
            </div>
            <div class="item">
                <img src="resources/core/images/carousel1.jpg" data-color="firebrick" alt="Second Image">
                <div class="carousel-caption">
                    <h3>fourth Image</h3>
                </div>
            </div>
            <!-- more slides here -->
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- what we do -->
    <section class="row" id="whyUs">
        <div class="col-md-offset-2 col-md-8 col-xs-12 well">
            <img class="col-md-4" src="resources/core/images/videoPoster.png" alt="video" />
            <div class="col-md-8 col-xs-12">
                <h4>Why Us?</h4>
                <div>
                    <p>High quality and elegant interior design solutions at extremely competitive prices.
                    </p>
                    <p>
                        Operational in Bangalore since last 7 years.
                    </p>
                    <p>Our projects includes Villas, Apartments, and Customized Flats.
                    </p>
                </div>
                <div>
                    <p>2 BHK starts from 2.2 lakhs only</p>
                    <p>3 BHK starts from 3 lakhs only.
                    </p>
                    <p>Free Design Consultations<br/>+ 3D Visualization
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Our projects -->
    <section class="text-light" id="ourProjects">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="visibility: visible; animation-name: fadeInUp;">
                    <h1>L2rem ipsum dolor</h1>
                    <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                    <div class="spacer-single"></div>
                </div>

    <div id="mycarousel-proj" class="carousel-proj slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolorem dolor porro suscipit consectetur nesciunt alias aperiam, consequatur, beatae temporibus!</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nihil quisquam, architecto velit commodi quasi suscipit optio nam facere non.</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati cum adipisci blanditiis omnis magni quisquam maxime vitae molestiae pariatur commodi.</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea odio minus id nihil recusandae, sit delectus temporibus numquam eum consequatur.</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro suscipit veniam ab vel fugiat. In, ducimus quidem. Corrupti, fuga nesciunt!</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At unde illo nemo dolores sapiente soluta animi officia commodi eos quisquam.</div></div></div>
            </div>
            <div class="item">
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolorem dolor porro suscipit consectetur nesciunt alias aperiam, consequatur, beatae temporibus!</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nihil quisquam, architecto velit commodi quasi suscipit optio nam facere non.</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati cum adipisci blanditiis omnis magni quisquam maxime vitae molestiae pariatur commodi.</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea odio minus id nihil recusandae, sit delectus temporibus numquam eum consequatur.</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro suscipit veniam ab vel fugiat. In, ducimus quidem. Corrupti, fuga nesciunt!</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At unde illo nemo dolores sapiente soluta animi officia commodi eos quisquam.</div></div></div>
            </div>
            <div class="item">
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolorem dolor porro suscipit consectetur nesciunt alias aperiam, consequatur, beatae temporibus!</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto nihil quisquam, architecto velit commodi quasi suscipit optio nam facere non.</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati cum adipisci blanditiis omnis magni quisquam maxime vitae molestiae pariatur commodi.</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea odio minus id nihil recusandae, sit delectus temporibus numquam eum consequatur.</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro suscipit veniam ab vel fugiat. In, ducimus quidem. Corrupti, fuga nesciunt!</div></div></div>
            <div class="col-md-4"><div class="panel panel-default"><div class="panel-body"><img src="resources/core/images/projects/project1.jpg" alt="completed-projects"/></div><div class="panel-footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At unde illo nemo dolores sapiente soluta animi officia commodi eos quisquam.</div></div></div>
            </div>
            <!-- more slides here -->
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mycarousel-proj" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#mycarousel-proj" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
            </div>
        </div>
    </section>    
            <!-- Steps -->
            <section class="text-light" id="section-steps">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center" style="visibility: visible; animation-name: fadeInUp;">
                            <h1>L2rem ipsum dolor</h1>
                            <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                            <div class="spacer-single"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="de_tab tab_steps">

                                <ul class="de_nav">
                                    <li class="active wow fadeIn animated" style="visibility: visible; animation-delays: 0s;" data-wow-delay="0s"><span>Meet &amp; Agree</span>
                                        <div class="v-border visible1"></div>
                                    </li>
                                    <li class="wow fadeIn animated" style="visibility: visible; animation-delay: 0.4s;" data-wow-delay=".4s"><span>Idea &amp; Concept</span>
                                        <div class="v-border visible1" style="opacity: 0;"></div>
                                    </li>
                                    <li class="wow fadeIn animated" style="visibility: visible; animation-delay: 0.8s;" data-wow-delay=".8s"><span>Design &amp; Create</span>
                                        <div class="v-border visible1" style="opacity: 0;"></div>
                                    </li>
                                    <li class="wow fadeIn animated" style="visibility: visible; animation-delay: 1.2s;" data-wow-delay="1.2s"><span>Build &amp; Install</span>
                                        <div class="v-border visible1" style="opacity: 0;"></div>
                                    </li>
                                </ul>
                                <div class="de_tab_content">

                                    <div id="tab1" style="display: block;">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                    </div>

                                    <div id="tab2" style="display: none;">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                    </div>

                                    <div id="tab3" style="display: none;">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                    </div>

                                    <div id="tab4" style="display: none;">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Customer says -->
            <section class="text-light" id="section-testimonial">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center wow fadeInUp animated" style="visibility: visible;">
                            <h1>Customer Says</h1>
                            <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                            <div class="spacer-single"></div>
                        </div>
                    </div>
                    <div id="testimonial-carousel" class="de_carousel fadeInUp">

                        <div class="col-md-6 item">
                            <div class="de_testi">
                                <blockquote>
                                    <p>I'm always impressed with the services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                    <div class="de_testi_by">
                                        John, Customer
                                    </div>
                                </blockquote>

                            </div>
                        </div>

                        <div class="col-md-6 item">
                            <div class="de_testi">
                                <blockquote>
                                    <p>I have very much enjoyed with your services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                                    <div class="de_testi_by">
                                        Michael, Customer
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                        <div class="col-md-6 item">
                            <div class="de_testi">
                                <blockquote>
                                    <p>I totally recommend your services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                    <div class="de_testi_by">
                                        Patrick, Customer
                                    </div>
                                </blockquote>
                            </div>
                        </div>

                        <div class="col-md-6 item">
                            <div class="de_testi">
                                <blockquote>
                                    <p>I have very much enjoyed with your services. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                                    <div class="de_testi_by">
                                        James, Customer
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
            </section>

</main>