<div id="looks" class="container-fluid">
	<div class="row">
		<div class="jumbotron col-md-12">
			<h1>{{space | underscoreless | capitalize:true}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<input type="search" class="form-control pull-right"
				placeholder="search.." ng-model="query">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12"
				ng-repeat="look in looks | filter:query">
				<div>
					<a ui-sref="looks.look({ id : '{{look.id}}', space: '{{space}}' } )">
						<img bn-lazy-src="{{look.thumbNail}}">
					</a>
				</div>
				<div>
					<h4>
						{{look.title}}, <span>starting from Rs{{look.basePrice}}</span>
					</h4>
				</div>
			</div>
		</div>
	</div>


</div>