<div id="looks" class="container-fluid" ui-view>
<div class="positionRelative">{{space | underscoreless | capitalize:true}} <div class="col-md-4 col-sm-4 col-md-12 pull-right mt10"><input type="search" class="form-control" placeholder="Search.." ng-model="query"></div></div>
	<div class="container">
		<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="look in looks | filter:query">
            <div>
                <a ui-sref="looks.look({ id : '{{space}}-{{look.id}}'})">
						<img bn-lazy-src="{{look.thumbNail}}">
					</a>
            </div>
            <div>
                <h4>{{look.title}}, <br/><span>Starting from Rs{{look.basePrice}}</span></h4>
            </div>
        </div>
    </div>
    </div>
</div>
<i class="clearfix"></i>