<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/css/lightgallery.min.css">
<!-- lightgallery plugins -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lightgallery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-thumbnail.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-fullscreen.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-zoom.min.js" type="text/javascript"></script> -->

<div id="pastWork" class="container-fluid">
<div class="positionRelative">OUR WORKS / {{pastWork}} <div class="col-md-4 col-sm-4 col-md-12 pull-right mt10"><!-- <input type="search" class="form-control" placeholder="Search Apartments.." ng-model="query"> --></div></div>
	<div class="container">
	<div class="row">
	 <div class="col-md-4 col-sm-6 col-xs-12" id="lightgallery" ng-repeat="pastwork in [0,1,2,3,4]">
            <div>
      <img src="resources/core/images/apartments/apartments.jpg" />
					<!-- <img bnLazySrc={{pastwork.mainImage}}"> -->
					
				</a>
            </div>
            <div>
                <!-- <h4>{{pastwork.pastworkName}}, <br/><span>Bangalore</span></h4> -->
                <h4>pastwork.pastworkName, <br/><span>Bangalore</span></h4>
            </div>
        </div>
    </div>
    </div>
</div>
<i class="clearfix"></i>
<script>

</script>