<link rel="stylesheet" href="http://compact.github.io/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.css?v0.10.0">
<div id="pastWork" class="container-fluid">
<div class="positionRelative">OUR WORKS / {{pastWork}} <div class="col-md-4 col-sm-4 col-md-12 pull-right mt10"><!-- <input type="search" class="form-control" placeholder="Search Apartments.." ng-model="query"> --></div></div>
	<div class="container">
	<div class="row">
	 <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="pastwork in [0,1,2,3,4]">
            <div>
            <a  ng-click="openLightboxModal($index)">
                    <img ng-src="{{image.thumbUrl}}"  class="wow fadeInUp  animated"/>
					<!-- <img bnLazySrc={{image.thumbUrl}}" class="wow fadeInUp  animated"> -->
					
			</a>
            </div>
            <div>
                <!-- <h4>{{pastwork.pastworkName}}, <br/><span>Bangalore</span></h4> -->
                <h4>pastwork.pastworkName, <br/><span>Bangalore</span></h4>
            </div>
        </div>
    </div>
    </div>
</div>
<i class="clearfix"></i>
<script>

</script>