<div id="pastWorks" class="container-fluid" ui-view>
<div class="positionRelative">OUR WORKS <div class="col-md-4 col-sm-4 col-md-12 pull-right mt10"><input type="search" class="form-control" placeholder="Search Apartments.." ng-model="query"></div></div>
	<div class="container">
	<div class="row">
	 <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="p in pastWorks | filter:query">
            <div>
<!--                 <a ui-sref="pastWorks.pastWork({id:'pastwork.id'})"> -->
                <a ui-sref="pastWorks.pastWork({id:'{{p.id}}'})">
					<img bn-lazy-src="{{p.mainImage}}" class=" wow fadeInUp  animated">
				</a>
            </div>
            <div>
                <h4>{{p.apartmentName}}, <br/><span>Bangalore</span></h4>
            </div>
        </div>
    </div>
    </div>
</div>
<i class="clearfix"></i>