<link rel="stylesheet"
	href="http://compact.github.io/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.css?v0.10.0">
<div id="pastWork" class="container-fluid">
	<div class="positionRelative">
		OUR WORKS / {{pastWork}}
		<div class="col-md-4 col-sm-4 col-md-12 pull-right mt10">
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12"
				ng-repeat="i in images">
				<div>
					<a ng-click="openLightboxModal($index)"> 
					<img bn-lazy-src="{{i.thumbnail}}" class="wow fadeInUp  animated" /> 
					</a>
				</div>
				<h4>&nbsp;</h4>
			</div>
		</div>
	</div>
</div>
<i class="clearfix"></i>