<div class="container top-margin">

	<div class="row features-buttons">
		<div class="col-md-12">
			<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
				data-target="#myModal">add lead</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table
				class="table table-stripped table-bordered table-hover tavle-inverse table-responsive">
				<tr>
					<th>CUSTOMER NAME</th>
					<th>STATE</th>
					<th>TASKS</th>
				</tr>
				<tr ng-repeat="c in customers" ng-click="customerDetails(c.customerId)">
					<td>{{c.customerName}}</td>
					<td>{{c.state}}</td>
					<td><div ng-repeat="t in c.taskSummary" ng-class="t.status">
						<span>{{t.taskName}}</span>
						<span>{{t.estimatedDate}}</span>
					</div></td>
				</tr>
			</table>
		</div>
	</div>
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">add lead</h4>
				</div>
				<div class="modal-body row">
					<form>
						<div class="form-group col-md-6">
							<label> <span>Customer Name</span>
							</label><input type="text" placeholder="" id="custName"
								ng-model="customer.custName" class="form-control">
						</div>
						<div class="form-group col-md-6">
							<label> <span>phone</span>
							</label><input type="text" placeholder="" id="phone"
								ng-model="customer.phone" class="form-control">
						</div>
						<div class="form-group col-md-6">
							<label> <span>Email Id</span>
							</label><input type="text" placeholder="" id="userName"
								ng-model="customer.userName" class="form-control">
						</div>
						<div class="form-group col-md-6">
							<label for="Apartment select type">&nbsp;</label> <select
								name="singleSelect"
								class="btn btn-default dropdown-toggle form-control"
								ng-model="customer.bhk">
								<option value="">SELECT APARTMENT TYPE &nbsp; <span
										class="caret"></span></option>
								<!-- not selected / blank option -->
								<option value="2bhk"><span>&nbsp;2bhk</span></option>
								<option value="3bhk"><span>&nbsp;3bhk</span></option>
								<option value="4bhk"><span>&nbsp;3bhk</span></option>
								<!-- interpolation -->
							</select>
						</div>
						<div class="form-group col-md-6">
							<label for="Apartment select type">&nbsp;</label> <select
								name="singleSelect"
								class="btn btn-default dropdown-toggle form-control"
								ng-model="customer.budgetType">
								<option value="">SELECT BUDGET TYPE &nbsp; <span
										class="caret"></span></option>
								<!-- not selected / blank option -->
								<option value="low" ><span>&nbsp;&lt 5,00,000</span></option>
								<option value="mid"><span>&nbsp;&lt 10,00,000 &gt5,00,000</span></option>
								<option value="high"><span>&nbsp;&gt 10,00,000</span></option>
								<!-- interpolation -->
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer row">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="createCustomer()">Create</button>
				</div>
			</div>

		</div>
	</div>
</div>