<div class="row">
	<div class="col-md-12"  style="margin-top:100px; margin-left:50px">
		<form name="myForm">
			<fieldset>
				<legend>upload a past work</legend>
				<div class="row">
					<div class="col-md-12">
						Apartment Name : <input type="text" name="apartmentName"
							ng-model="apartmentName" size="30" required /> <i
							ng-show="myForm.apartmentName.$error.required">*required</i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Photo: <input type="file" ngf-select ng-model="files"
							ngf-multiple="true" name="file" accept="image/*"
							ngf-max-size="7000KB" required ngf-model-invalid="errorFile">
						<br> <i ng-show="myForm.file.$error.maxSize">File too
							large {{errorFile.size / 1000|number:1}}KB: max 7000KB</i>
						<div class="selectMainImage">
							<div class="col-md-4" ng-repeat="file in files">
								<input type="radio" name="mainImage" ng-model="$parent.mainImage" value="{{file.name}}"/> 
								<img ng-show="myForm.file.$valid" ngf-thumbnail="file"
									class="thumb" height="200" width="200">
							</div>
						</div>

						<button ng-click="files = null" ng-show="files">Remove</button>
					</div>
				</div>

				<div class="row">
					<button ng-disabled="!myForm.$valid" ng-click="uploadData()">Submit</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>