<div id="uploadApartment">
    <div class="jumbotron">
        <div class="container">
            <h1>DESIGN YOUR APARTMENT</h1>
        </div>
    </div>
    <form name="myForm">
        <div class="list-group container">
            <div class="list-group-item row">
                <h2>General Apartment Details</h2>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Apartment Title</label><i ng-show="myForm.apartmentName.$error.required">*required</i>
                        <input type="text" class="form-control" name="apartmentName" ng-model="apartmentName" size="30" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Address</label><i ng-show="myForm.address.$error.required">*required</i>
                        <input type="text" class="form-control" name="address" ng-model="address" size="30" required />
                    </div>
                </div>
            </div>

            <div class="row ">
                <div class="col-md-4">
                    <h2>Upload Floor Plan:</h2>
                    <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000|number:1}}KB: max 2700KB</i>
                   <div class="col-md-12">
                            Photo:
                            <input type="file" ngf-select ng-model="files" ngf-multiple="true" name="file" accept="image/*" ngf-max-size="7000KB" required ngf-model-invalid="errorFile">
                            <br> <i ng-show="myForm.file.$error.maxSize">File too
								large {{errorFile.size / 1000|number:1}}KB: max 7000KB</i> <img ng-show="myForm.file.$valid" ngf-thumbnail="file" class="thumb" height="200" width="200" ng-repeat="file in files">
                            <button ng-click="files = null" ng-show="files">Remove</button>
                        </div>
                </div>
            </div>
            <div class="list-group-item row ">
                <button ng-disabled="!myForm.$valid" class="btn btn-success col-md-4" ng-click="uploadData()">SUBMIT</button>
            </div>
        </div>
    </form>
</div>