<div class="row">
	<div class="col-md-12">
		<form name="myForm">
			<fieldset>
				<legend>upload a space</legend>
				<div class="row">
					<div class="col-md-12">Select Space Type</div>
				</div>
				<div class="row" ng-repeat="space in spaces">
					<div class="col-md-12">
						<label> <input type="radio" name="spaceType"
							ng-model="$parent.spaceType" value="{{space}}" ng-change="printModel()"/> <span>{{space}}</span>
						</label>
					</div>
				</div>

				<div ng-show="spaceType == 'kitchen'">
					<div class="row">
						<div class="col-md-12">
							Title : <input type="text" name="title" ng-model="title"
								size="30" required /> <i ng-show="myForm.title.$error.required">*required</i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Description :
							<textarea type="text" name="description" ng-model="description"
								required />
							<i ng-show="myForm.description.$error.required">*required</i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Base price : <input type="number" name="basePrice"
								ng-model="basePrice" size="30" required /> <i
								ng-show="myForm.basePrice.$error.required">*required</i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Height : <input type="number" name="ht" ng-model="ht" size="30"
								required /> <i ng-show="myForm.ht.$error.required">*required</i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Width : <input type="number" name="wdth" ng-model="wdth"
								size="30" required /> <i ng-show="wdth">*required</i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Photo: <input type="file" ngf-select ng-model="picFile1"
								name="file1" accept="image/*" ngf-max-size="200KB" required
								ngf-model-invalid="errorFile"> <i
								ng-show="myForm.file1.$error.required">*required</i><br> <i
								ng-show="myForm.file1.$error.maxSize">File too large
								{{errorFile.size / 1000|number:1}}KB: max 200KB</i> <img
								ng-show="myForm.file1.$valid" ngf-thumbnail="picFile1"
								class="thumb" height="200" width="200">
							<button ng-click="picFile1 = null" ng-show="picFile1">Remove</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Photo: <input type="file" ngf-select ng-model="picFile2"
								name="file2" accept="image/*" ngf-max-size="200KB" required
								ngf-model-invalid="errorFile"> <i
								ng-show="myForm.file2.$error.required">*required</i><br> <i
								ng-show="myForm.file2.$error.maxSize">File too large
								{{errorFile.size / 1000|number:1}}KB: max 200KB</i> <img
								ng-show="myForm.file2.$valid" ngf-thumbnail="picFile2"
								class="thumb" height="200" width="200">
							<button ng-click="picFile2 = null" ng-show="picFile2">Remove</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Photo: <input type="file" ngf-select ng-model="picFile3"
								name="file3" accept="image/*" ngf-max-size="200KB" required
								ngf-model-invalid="errorFile"> <i
								ng-show="myForm.file3.$error.required">*required</i><br> <i
								ng-show="myForm.file3.$error.maxSize">File too large
								{{errorFile.size / 1000|number:1}}KB: max 200KB</i> <img
								ng-show="myForm.file3.$valid" ngf-thumbnail="picFile3"
								class="thumb" height="200" width="200">
							<button ng-click="picFile3 = null" ng-show="picFile3">Remove</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Photo: <input type="file" ngf-select ng-model="picFile4"
								name="file4" accept="image/*" ngf-max-size="200KB" required
								ngf-model-invalid="errorFile"> <i
								ng-show="myForm.file4.$error.required">*required</i><br> <i
								ng-show="myForm.file4.$error.maxSize">File too large
								{{errorFile.size / 1000|number:1}}KB: max 200KB</i> <img
								ng-show="myForm.file4.$valid" ngf-thumbnail="picFile4"
								class="thumb" height="200" width="200">
							<button ng-click="picFile4 = null" ng-show="picFile4">Remove</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Photo: <input type="file" ngf-select ng-model="picFile5"
								name="file5" accept="image/*" ngf-max-size="200KB" required
								ngf-model-invalid="errorFile"> <i
								ng-show="myForm.file5.$error.required">*required</i><br> <i
								ng-show="myForm.file5.$error.maxSize">File too large
								{{errorFile.size / 1000|number:1}}KB: max 200KB</i> <img
								ng-show="myForm.file5.$valid" ngf-thumbnail="picFile5"
								class="thumb" height="200" width="200">
							<button ng-click="picFile5 = null" ng-show="picFile5">Remove</button>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

