<div class="row">
	<div class="col-md-12" style="margin-top:100px; margin-left:50px">
		<form name="myForm">
			<fieldset>
				<legend>Create a aprtment</legend>
				<div class="row">
					<div class="col-md-12">Select Apartment Type</div>
				</div>
				<div class="row" ng-repeat="a in apartmentTypes">
					<div class="col-md-12">
						<label> <input type="radio" name="apartmentType"
							ng-model="$parent.apartmentType" value="{{a}}" /> <span>{{a}}</span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Apartment Title : <input type="text" name="apartmentName"
							ng-model="apartmentName" size="30" required /> <i
							ng-show="myForm.apartmentName.$error.required">*required</i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Plan Title : <input type="text" name="planName"
							ng-model="planName" size="30" required /> <i
							ng-show="myForm.planName.$error.required">*required</i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<legend>Kitchen :</legend>
						<div class="row">
							<div class="col-md-12">Select Kitchen Type</div>
						</div>
						<div class="row" ng-repeat="k in kitchenTypes">
							<div class="col-md-12">
								<label> <input type="radio" name="kitchenType"
									ng-model="$parent.kitchenType" value="{{k}}"
									ng-required="!$parent.kitchenType && ($parent.spaceType=='kitchen')" />
									<span>{{k}}</span>
								</label>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								length : <input type="number" name="kLength" ng-model="kLength"
									size="30" required /> <i
									ng-show="myForm.kLength.$error.required">*required</i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								width : <input type="number" name="kWidth" ng-model="kWidth"
									size="30" required /> <i
									ng-show="myForm.kWidth.$error.required">*required</i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<legend>Living :</legend>
						<div class="row">
							<div class="col-md-12">
								length : <input type="number" name="lLength" ng-model="lLength"
									size="30" required /> <i
									ng-show="myForm.lLength.$error.required">*required</i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								width : <input type="number" name="width" ng-model="lWidth"
									size="30" required /> <i
									ng-show="myForm.lWidth.$error.required">*required</i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<legend>Master bedroom :</legend>
						<div class="row">
							<div class="col-md-12">Select Wardrobe Type</div>
						</div>
						<div class="row" ng-repeat="w in wardrobeTypes">
							<div class="col-md-12">
								<label> <input type="radio" name="mWardrobeType"
									ng-model="$parent.mWardrobeType" value="{{w}}"
									ng-required="!$parent.mWardrobeType && (spaceType.indexOf('bedroom')!=-1)" />
									<span>{{w}}</span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								length : <input type="number" name="mLength" ng-model="mLength"
									size="30" required /> <i
									ng-show="myForm.mLength.$error.required && (spaceType.indexOf('bedroom')!=-1)">*required</i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								width : <input type="number" name="mWidth" ng-model="mWidth"
									size="30" required /> <i
									ng-show="myForm.mWidth.$error.required && (spaceType.indexOf('bedroom')!=-1)">*required</i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<legend>Other bedroom :</legend>
						<div class="row">
							<div class="col-md-12">Select Wardrobe Type</div>
						</div>
						<div class="row" ng-repeat="w in wardrobeTypes">
							<div class="col-md-12">
								<label> <input type="radio" name="oWardrobeType"
									ng-model="$parent.oWardrobeType" value="{{w}}"
									ng-required="!$parent.oWardrobeType && (spaceType.indexOf('bedroom')!=-1) && (apartmentType == '2bhk')" />
									<span>{{w}}</span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								length : <input type="number" name="oLength" ng-model="oLength"
									size="30" required /> <i
									ng-show="myForm.oLength.$error.required && (spaceType.indexOf('bedroom')!=-1) && (apartmentType == '2bhk')">*required</i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								width : <input type="number" name="oWidth" ng-model="oWidth"
									size="30" required /> <i
									ng-show="myForm.oWidth.$error.required && (spaceType.indexOf('bedroom')!=-1) && (apartmentType == '2bhk')">*required</i>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-show="apartmentType == '3bhk'">
					<div class="col-md-12">
						<legend>kids bedroom :</legend>
						<div class="row">
							<div class="col-md-12">Select Wardrobe Type</div>
						</div>
						<div class="row" ng-repeat="w in wardrobeTypes">
							<div class="col-md-12">
								<label> <input type="radio" name="kWardrobeType"
									ng-model="$parent.kWardrobeType" value="{{w}}"
									ng-required="!$parent.kWardrobeType && (spaceType.indexOf('bedroom')!=-1) && (apartmentType == '3bhk')" />
									<span>{{w}}</span>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								length : <input type="number" name="kLength" ng-model="kLength"
									size="30" required /> <i
									ng-show="myForm.kLength.$error.required && (spaceType.indexOf('bedroom')!=-1) && (apartmentType == '3bhk')">*required</i>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								width : <input type="number" name="kWidth" ng-model="kWidth"
									size="30" required /> <i
									ng-show="myForm.kWidth.$error.required && (spaceType.indexOf('bedroom')!=-1) && (apartmentType == '3bhk')">*required</i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
						<div class="col-md-12">
							Photo: <input type="file" ngf-select ng-model="file"
								name="file" accept="image/*"
								ngf-max-size="700KB" required ngf-model-invalid="errorFile">
							<br> <i ng-show="myForm.file.$error.maxSize">File too
								large {{errorFile.size / 1000|number:1}}KB: max 700KB</i> <img
								ng-show="myForm.file.$valid" ngf-thumbnail="file" class="thumb"
								height="200" width="200">
							<button ng-click="file = null" ng-show="file">Remove</button>
						</div>
					</div>

					<div class="row">
						<button ng-disabled="!myForm.$valid" ng-click="uploadData()">Submit</button>
					</div>
			</fieldset>
		</form>
	</div>
</div>