<div class="row">
	<div class="col-md-12">
		<form name="myForm">
			<fieldset>
				<legend>upload a space</legend>
				<div class="row">
					<div class="col-md-12">Select Space Type</div>
				</div>
				<div class="row" ng-repeat="space in spaces">
					<div class="col-md-12">
						<label> <input type="radio" name="spaceType"
							ng-model="$parent.spaceType" value="{{space}}" ng-change="printModel()"/> <span>{{space}}</span>
						</label>
					</div>
				</div>

				<div ng-show="spaceType == 'kitchen'">
					<div class="row">
						<div class="col-md-12">
							Title : <input type="text" name="title" ng-model="title"
								size="30" required /> <i ng-show="myForm.title.$error.required">*required</i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Description :
							<textarea type="text" name="description" ng-model="description"
								required />
							<i ng-show="myForm.description.$error.required">*required</i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Base price : <input type="number" name="basePrice"
								ng-model="basePrice" size="30" required /> <i
								ng-show="myForm.basePrice.$error.required">*required</i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Height : <input type="number" name="ht" ng-model="ht" size="30"
								required /> <i ng-show="myForm.ht.$error.required">*required</i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Width : <input type="number" name="wdth" ng-model="wdth"
								size="30" required /> <i ng-show="wdth">*required</i>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
							Photo: <input type="file" ngf-select ng-model="files" ngf-multiple="true"
								name="file" accept="image/*" ngf-max-size="7000KB" required
								ngf-model-invalid="errorFile"> <br> <i
								ng-show="myForm.file5.$error.maxSize">File too large
								{{errorFile.size / 1000|number:1}}KB: max 7000KB</i> <img
								ng-show="myForm.file5.$valid" ngf-thumbnail="file"
								class="thumb" height="200" width="200" ng-repeat="file in files">
							<button ng-click="files = null" ng-show="picFile5">Remove</button>
						</div>
					</div>
					
					<div class="row"><button ng-disabled="!myForm.$valid" 
             			 ng-click="uploadData()">Submit</button></div>
					
				</div>
			</fieldset>
		</form>
	</div>
</div>

