<div class="row">
    <div class="col-md-12" style="margin-top:100px; margin-left:50px">
        <form name="myForm">
            <fieldset>
                <legend>upload a past work</legend>
                <div class="row">
                    <div class="col-md-12">
                        Apartment Name :
                        <input type="text" name="apartmentName" ng-model="apartmentName" size="30" required /> <i ng-show="myForm.apartmentName.$error.required">*required</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Main Image :
                        <input type="text" name="mainImage" ng-model="mainImage" size="30" required /> <i ng-show="myForm.mainImage.$error.required">*required</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Folder Path :
                        <input type="text" name="folderPath" ng-model="folderPath" size="30" required /> <i ng-show="myForm.folderPath.$error.required">*required</i>
                    </div>
                </div>
                <div class="row">
                    <button ng-disabled="!myForm.$valid" ng-click="uploadData()">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>